step-functions/operations_workflow.asl.json
{
  "Comment": "Operations simulation workflow",
  "StartAt": "RunOperationsTask",
  "States": {
    "RunOperationsTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${EcsClusterArn}",
        "TaskDefinition": "${TaskDefinitionArn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": "${SubnetIds}",
            "SecurityGroups": "${SecurityGroupIds}",
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "Next": "CheckTaskStatus",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ErrorHandler",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckTaskStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ExitCode",
          "NumericEquals": 0,
          "Next": "SuccessHandler"
        }
      ],
      "Default": "ErrorHandler"
    },
    "SuccessHandler": {
      "Type": "Pass",
      "Result": {
        "status": "success",
        "message": "Operations simulation completed successfully"
      },
      "End": true
    },
    "ErrorHandler": {
      "Type": "Pass",
      "Result": {
        "status": "failed",
        "message": "Operations simulation failed",
        "error": "$.error"
      },
      "End": true
    }
  }
}

