step-functions/orchestration_workflow.asl.json
{
    "Comment": "Daily e-commerce operations + ingestion workflow",
    "Note": "This ASL file uses CloudFormation DefinitionSubstitutions plus deterministic placeholders for VPC networking.",
    "StartAt": "RunOperationsTask",
    "States": {
        "RunOperationsTask": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${EcsClusterArn}",
                "TaskDefinition": "${TaskDefinitionArn}",
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "Subnets": "__SUBNET_IDS_PLACEHOLDER__",
                        "SecurityGroups": "__SECURITY_GROUP_IDS_PLACEHOLDER__",
                        "AssignPublicIp": "ENABLED"
                    }
                }
            },
            "ResultPath": "$.operationsResult",
            "Next": "RunIngestionTask",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 2,
                    "BackoffRate": 2
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "ErrorHandler"
                }
            ]
        },
        "RunIngestionTask": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${IngestionFunctionArn}",
                "Payload": {
                    "scheduled_execution": true,
                    "load_type": "INCREMENTAL"
                }
            },
            "ResultPath": "$.ingestionResult",
            "Next": "SuccessHandler",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 3,
                    "BackoffRate": 1.5
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.error",
                    "Next": "ErrorHandler"
                }
            ]
        },
        "SuccessHandler": {
            "Type": "Pass",
            "Result": {
                "status": "success",
                "message": "Daily pipeline completed successfully"
            },
            "End": true
        },
        "ErrorHandler": {
            "Type": "Pass",
            "Result": {
                "status": "failed",
                "message": "Daily pipeline failed",
                "details": "$.error"
            },
            "End": true
        }
    }
}